@import "tailwindcss";

.react-flow__edge {
  z-index: 0 !important;
}

.react-flow__node {
  z-index: 10 !important;
}

.react-flow__attribution {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
