@import "tailwindcss";

.react-flow__edge {
  z-index: 0 !important;
}

.react-flow__node {
  z-index: 10 !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
